<h1>Report</h1>

<h2>hello {{ person.first_name }}!</h2>

<h3>Personal info</h3>
<ul>
    <li>First name: {{ person.first_name }}</li>
    <li>Middle name: {{ person.middle_name }}</li>
    <li>Last name: {{ person.last_name }}</li>
    <li>Gender: {{ person.gender }}</li>
    <li>Birthday: {{ person.birthday }}</li>
</ul>

<h3>Youngest friends</h3>
<ol>
{% for friend in youngest_friends %}
    <li>{{ friend.first_name }} {{ friend.last_name }} ({{ friend.birthday }})</li>
{% endfor %}
</ol>

<h3>Oldest friends</h3>
<ol>
{% for friend in oldest_friends %}
    <li>{{ friend.first_name }} {{ friend.last_name }} ({{ friend.birthday }})</li>
{% endfor %}
</ol>
