<html>

    {# Page Title #}
    <title>{% block title %}Jef Vlamings{% endblock %}</title>

    <head>

        {# Static files #}
        {% load staticfiles %}

        {# Stylesheets #}
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/style.less" %}" rel="stylesheet" type="text/css" />

        {# Javascript #}
        {% block js-head %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% endblock js-head %}

    </head>

    <body>

        {# Header #}
        <header>
            <div class="navbar">
                <a href="#" class="navbar-brand">Falcon</a>
            </div>
        </header>

        {# Content #}
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>

    </body>

    {# Javascript #}
    {% block js-foot %}
        <script src="{% static "js/bootstrap.js" %}"></script>
    {% endblock js-foot %}

</html>
